* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
}

@font-face {
  font-family: 'Xolonium';
  src: url('/home/mihail/Internet_technologies/Website DJ PLESH/xolonium/Xolonium-Regular.otf') format('opentype');
}

.background { 

	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("/home/mihail/Internet_technologies/Website DJ PLESH/images/background.jpg");
  	background-repeat: no-repeat; 
  	background-size: cover; 
  	background-position: center;
  	background-attachment: fixed;
  	z-index: -5;
}

.Rectangle2 {

	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(50px);
	background-repeat: no-repeat; 
  	background-size: cover; 
  	background-position: center;
  	background-attachment: fixed;
	z-index: -3;

}

.Rectangle11 {

	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(19, 19, 19, 0.2);
	backdrop-filter: blur(2px);
	background-repeat: no-repeat; 
  	background-size: cover; 
  	background-position: center;
  	background-attachment: fixed;
	z-index: -2;
}

.hidden {
opacity: 0;
transition: opacity 2s;
}

/*фигуры верх*/
.ShapesUp {

	position: absolute;
	width: 100%;
  	height: 42%;
  	left: 0%;
  	top: 0%;
	z-index: -4;
}

.Ellipse1 {
  position: absolute;
  width: 48%;
  height: 150%;
  left: 0%;
  top: -55%;
  background: #E47610;
  filter: blur(65px) saturate(200%);
  transform: rotate();
  border-radius: 50%;
  z-index: -1;
  transition: width 2s, height 2s, background 2s, transform 2s;
}

.Ellipse4 {

	position: absolute;
	width: 33%;
  	height: 70%;
  	left: 41%;
  	top: 0%;

	background: #979A17;
	filter: blur(65px) saturate(200%);
	transform: rotate(-47.5deg);
	border-radius: 50%;
	z-index: -2;
	transition: width 2s, height 2s, background 2s, transform 2s;
}

.Ellipse3 {

	position: absolute;
	width: 47%;
  	height: 91%;
  	left: 53%;
  	top: 0%;

	background: #AC00E9;
	filter: blur(65px) saturate(150%);
	border-radius: 50%;
	z-index: -3;
	transition: width 2s, height 2s, background 2s, transform 2s;

}

@keyframes colorShift {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.Ellipse1, .Ellipse3, .Ellipse4 {
    animation: colorShift 10s infinite;
}

/*Верхний блок*/
.UP { 
	position: absolute;
	width: 100%;
	height: 12%;
	left: 0%;
	top: 2%;
	z-index: 1;
}

.Rectangle0 {
	box-sizing: border-box;
	position: absolute;
	left: 32%;
  	right: 32%;
  	top: 0%;
  	bottom: 0%;
	z-index: 1;

}

p.DJPLESH { 
	position: absolute;
  	font-family: 'Xolonium';
  	font-style: normal;
	width: 100%;
  	left: 0%;
  	font-size: 4.9vw;
  	height: 100%;
  	letter-spacing: 0.1em;
  	color: #030000;
  	z-index: 1;

}

.Rectangle21 {

	box-sizing: border-box;
	position: absolute;
	left: 82%;
  	right: 2%;
  	top: 0%;
  	bottom: 66%;

	border: 1px solid #000000;
	z-index: 1;
	transition: 1s;

}

.zareg {

	position: absolute;
	left: 0%;
	right: 0%;
	top: 22%;
	bottom: 0%;

	font-family: 'Xolonium';
	font-size: 0.8vw;
	text-align: center;
	letter-spacing: 0.1em;

	color: #000000;
	z-index: 1;
}

.Rectangle21:hover {
	background-color: white;

}

.login {

	position: absolute;
	left: 0%;
  	right: 0%;
  	height: 100%;
  	top: 22%;
  	bottom: 0%;

	font-family: 'Xolonium';
	font-size: 0.8vw;
	text-align: center;
	letter-spacing: 0.1em;

	color: #000000;
	z-index: 1;

}

.Rectangle22 {

	box-sizing: border-box;
	position: absolute;
	left: 74%;
  	right: 19%;
  	top: 0%;
  	bottom: 66%;

	border: 1px solid #000000;
	z-index: 1;
	transition: 1s;
}

.Rectangle22:hover {
	background-color: white;

}

.KnopkaJS {

	position: absolute;
	left: 0%;
  	right: 0%;
  	height: 100%;
  	top: 22%;
  	bottom: 0%;

	font-family: 'Xolonium';
	font-size: 0.8vw;
	text-align: center;
	letter-spacing: 0.1em;

	color: #000000;
	z-index: 1;

}

.Rectangle222 {

	box-sizing: border-box;
	position: absolute;
	left: 74%;
  	right: 19%;
  	top: 0%;
  	bottom: 66%;

	border: 1px solid #000000;
	z-index: 1;
	transition: 1s;
}

.Rectangle222:hover {
	background-color: white;

}

.bottom11
{
	position: absolute;
	left: 45%;
	top: 115%;
	z-index: 5;
}

.bottom12
{
	position: absolute;
	left: 50%;
	top: 115%;
	z-index: 5;
}

.InformationAbWeS {
      position: absolute;
      width: 100%;
      height: 86%;
      left: 0%;
      top: 36%;
      z-index: 1;
    }

    .inf2 {
      position: absolute;
      width: 26%;
      height: 15%;
      left: 36%;
      top: 7%;
      font-family: 'Xolonium';
      font-style: normal;
      font-weight: 400;
      font-size: 2.5vw;
      line-height: 58px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      z-index: 1;
    }

    .inf1 {
      position: absolute;
      width: 90%;
      height: 68%;
      left: 10%;
      top: 30%;
      font-family: 'Xolonium';
      font-style: normal;
      font-weight: 400;
      font-size: 1.875vw;
      line-height: 2.2vw;
      color: #FFFFFF;
      z-index: 1;
    }


/* Line 1 */
.line1 {
position: absolute;
width: 100%;
top: 122%;

border: 3px solid #000000;
}

/*тур*/
.TOUR {
position: absolute;
width: 100%;
height: 90.7%;
left: 0%;
top: 122.4%;

}

.TourinRuss {
	position: absolute;
	width: 100%;
	height: 14%;
	left: 0%;
	top: 10%;
	font-family: 'Xolonium';
	font-style: normal;
	font-size: 2.5vw;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.CityOne {
	position: absolute;
	top: 30%;
	font-family: 'Xolonium';
	font-style: normal;
	width: 100%;
	font-size: 1.875vw;
	height: 11%;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.BelayaHolynica {
position: absolute;
width: 26%;
left: 9%;

}

.Saratov {
	position: absolute;
	width: 14%;
  	left: 43%;

}

.Velikii {
	position: absolute;
	width: 25%;
  	left: 68%;
}

.DateOne {
	position: absolute;
	top: 36%;
	font-family: 'Xolonium';
	font-style: normal;
	width: 100%;
	font-size: 1.6vw;
	height: 7%;
	text-align: center;
	color: #FFFFFF;
}

.D1 {
position: absolute;
width: 9%;
left: 16%;

}

.D2 {
position: absolute;
width: 9%;
left: 45%;

}

.D3 {
position: absolute;
width: 9%;
left: 75%;

}

.CityTwo {
	position: absolute;
	top: 54%;
	font-family: 'Xolonium';
	font-style: normal;
	width: 100%;
	font-size: 1.875vw;
	height: 11%;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.NizhTag {
position: absolute;
width: 22%;
left: 10%;

}

.Cherepovec {
position: absolute;
width: 17%;
left: 42%;

}

.NizhSergi {
position: absolute;
width: 22%;
left: 69%;

}

.DateTwo {
	position: absolute;
	top: 60%;
	font-family: 'Xolonium';
	font-style: normal;
	width: 100%;
	font-size: 1.6vw;
	height: 7%;
	text-align: center;
	color: #FFFFFF;
}

.D4 {
position: absolute;
width: 10%;
left: 16%;

}

.D5 {
position: absolute;
width: 10%;
left: 45%;

}

.D6 {
position: absolute;
width: 10%;
left: 75%;

}

.CityThree {
	position: absolute;
	top: 76%;
	font-family: 'Xolonium';
	font-style: normal;
	width: 100%;
	font-size: 1.875vw;
	height: 11%;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.Zelezno {
position: absolute;
width: 29%;
left: 6%;
}

.chelaba {
position: absolute;
width: 17%;
left: 42%;
}

.Electro {
position: absolute;
width: 22%;
left: 69%;
}

.DateThree {
	position: absolute;
	top: 82%;
	font-family: 'Xolonium';
	font-style: normal;
	width: 100%;
	font-size: 1.6vw;
	height: 7%;
	text-align: center;
	color: #FFFFFF;
}

.D7 {
position: absolute;
width: 9%;
left: 16%;

}

.D8 {
position: absolute;
width: 10%;
left: 75%;

}

.D9 {
position: absolute;
width: 11%;
left: 44%;

}

.line_2 {
position: absolute;
width: 100%;
top: 213%;

border: 3px solid #000000;
}

/* Свежие новости */
.News {
position: absolute;
width: 100%;
height: 130%;
top: 213.8%;
}

.lastNews {
position: absolute;
width: 100%;
height: 5%;
left: 0%;
top: 5%;

font-family: 'Xolonium';
font-style: normal;
font-size: 2.5vw;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;

}

.Rectangle28 {
position: absolute;
width: 84%;
height: 50%;
left: 8%;
top: 14%;
background: url('images/news.jpg');
background-size: cover;
z-index: 1;
}

.Rectangle-1 {
position: absolute;
width: 84%;
height: 36%;
left: 8%;
top: 64%;

font-family: 'Xolonium';
font-style: normal;
letter-spacing: 0.1em;
color: #FFFFFF;

}

.IDAWORLD {
position: absolute;
width: 100%;
height: 8%;
left: 0%;
top: 2%;
font-size: 1.25vw;
}

.DJCHIB {
position: absolute;
width: 100%;
height: 5%;
left: 0%;
top: 10%;
font-size: 0.93vw;
}

.worldСhamp {
position: absolute;
width: 100%;
height: 10%;
left: 0%;
top: 20%;

font-size: 1.6vw;
}

.line_3 {
position: absolute;
width: 100%;
top: 344%;

border: 3px solid #000000;
}

/* Cвежая музыка */
.lastMusic {
	position: absolute;
	width: 100%;
	height: 166.1%;
	left: 0%;
	top: 344.6%;
}

.lastM {
position: absolute;
width: 100%;
height: 4%;
left: 0%;
top: 4%;

font-family: 'Xolonium';
font-size: 2.5vw;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;

}

.covers {
position: absolute;
width: 100%;
height: 18%;
top: 13%;
}

.constCover {
position: absolute;
width: 14%;
height: 100%;
}

.Rectangle29 {
	position: absolute;
left: 20%;
background: url('images/David Guetta.jpg');
background-size: cover;
}

.Rectangle30 {
	position: absolute;
left: 43%;
background: url('images/Daft ounk.jpg');
background-size: cover;
}

.Rectangle31 {
	position: absolute;
left: 66%;
background: url('images/dj snake.jpg');
background-size: cover;
}

.nameTrack {
position: absolute;
width: 100%;
height: 2%;
top: 32%;
font-family: 'Xolonium';
font-size: 1.25vw;
letter-spacing: 0.1em;
color: #FFFFFF;
text-align: center;
}

.TITANIUM {
position: absolute;
width: 10%;
left: 22%;

}

.ONEMORETIME {
position: absolute;
width: 14%;
left: 43%;
font-size: 1.2vw
;
}

.LEANON {
position: absolute;
width: 10%;
left: 68%;

}

.artists {
position: absolute;
width: 100%;
height: 2%;
left: 0%;
top: 35%;
font-family: 'Xolonium';
font-size: 0.83vw;
text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
}

.DAVIDGUETTA {
position: absolute;
width: 10%;
left: 22%;

}

.DAFTPUNK {
position: absolute;
width: 8%;
left: 46%;
}

.DJSNAKE {
position: absolute;
width: 8%;
left: 69%;

}

.trackDescriptions {
	position: absolute;
	width: 100%;
	height: 61%;
	left: 0%;
	top: 39%;
	font-family: 'Xolonium';
	font-size: 1.458vw;
	color: #FFFFFF;
}

.DescriptionsSongs {
	position: absolute;
	width: 60%;
	height: 88%;
	top: 4%;
	left: 20%;
}

.line_4 {
position: absolute;
width: 100%;
top: 510.5%;

border: 3px solid #000000;

}

.Const_Rectangle_123 {
box-sizing: border-box;
position: absolute;
width: 100%;
height: 100%;
background: linear-gradient(180deg, #FFFFFF 62.5%, rgba(0, 0, 0, 0) 100%);
border: 5px solid #000000;

}

.Const_Name {
	position: absolute;
	width: 60%;
	left: 20%;
	top: 3%;
	font-family: 'Xolonium';
	font-size: 1.25vw;
	text-align: center;
	letter-spacing: 0.1em;
	z-index: 2;
	color: #000000;
}

.Const_Rectangle_Must_Dietils {
	box-sizing: border-box;
	position: absolute;
	width: 48%;
	left: 25%;
	right: 25%;
	top: 84%;
	bottom: 6%;
	border: 3px solid #FFFFFF;
	transition: background-color 0.3s ease;
}

.Const_Rectangle_Must_Dietils:hover {
	background-color: black;
}

.Сonst_Moredetails {
	position: absolute;
	width: 84%;
	left: 8%;
	top: 25%;
	font-family: 'Xolonium';
	font-size: 1.25vw;
	display: flex;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

/* курсы */
.Courses {
	position: absolute;
	width: 100%;
	height: 109%;
	left: 0%;
	top: 511.2%;
}

.Const_Text_Well {
	position: absolute;
	width: 90%;
	height: 22%;
	left: 5%;
	top: 49%;
	font-family: 'Xolonium';
	font-size: 1.041vw;
	letter-spacing: 0.1em;
	color: #000000;
}

.well {
	position: absolute;
	width: 14%;
	height: 6%;
	left: 43%;
	top: 7%;
	font-family: 'Xolonium';
	font-size: 2.5vw;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.boxBasic {
	position: absolute;
	width: 28%;
	height: 67%;
	left: 5%;
	top: 22%;
}

.Rectangle39 {
	position: absolute;
	width: 48%;
	height: 39%;
	left: 26%;
	top: 8%;
	background: url('images/lbce.png');
	background-size: cover;
}

.pro {
	position: absolute;
	width: 28%;
	height: 67%;
	left: 36%;
	top: 22%;
}

.Rectangle40 {
	position: absolute;
	width: 48%;
	height: 39%;
	left: 26%;
	top: 8%;
background: url('images/Без имени.png');
background-size: cover;

}

.Pro_Xl {
	position: absolute;
	width: 28%;
	height: 67%;
	left: 67%;
	top: 22%;
}

.Rectangle41 {
	position: absolute;
	width: 48%;
	height: 39%;
	left: 26%;
	top: 8%;
	background: url('images/Без имени 1.png');
	background-size: cover;
}

.line_5 {
position: absolute;
width: 100%;
top: 620.2%;
border: 3px solid #000000;
}

/* Оборудование */
.equipment {
	position: absolute;
	width: 100%;
	height: 114.4%;
	left: 0%;
	top: 621%;
}

.EQUIPMENT1 {
	position: absolute;
	width: 30%;
	height: 7%;
	left: 35%;
	top: 5%;
	font-family: 'Xolonium';
	font-size: 2.5vw;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	text-align: center;
}

.Controllers {
	position: absolute;
   	width: 28%;
  	height: 67%;
  	left: 5%;
  	top: 22%;
}

.equipment1_jpg {
	position: absolute;
	width: 69%;
	height: 42%;
	left: 16%;
	top: 8%;
	background: url('images/оборудование1.jpg');
	background-size: cover;
}

.Sound_Сards {
	position: absolute;
	width: 28%;
	height: 67%;
	left: 36%;
	top: 22%;
}

.equipment2_jpg {
	position: absolute;
	width: 67%;
	height: 42%;
	left: 17%;
	top: 15%;
	background: url('images/оборудование2.jpg');
	background-size: cover;
}

.mixers {
	position: absolute;
	width: 28%;
	height: 67%;
	left: 67%;
	top: 22%;
}

.Mixers_jpg {
	position: absolute;
	width: 73%;
	height: 34%;
	left: 14%;
	top: 18%;
	background: url('images/оборудование3.jpg');
	background-size: cover;
}

.line_6 {
position: absolute;
width: 100%;
top: 735.4%;
border: 3px solid #000000;
}

/* мерч */
.Merch {
	position: absolute;
	width: 100%;
	height: 114.4%;
	left: 0%;
	top: 736.2%;
}

.Merch_h {
	position: absolute;
	width: 12%;
	height: 5%;
	left: 44%;
	top: 8%;
	text-align: center;
	font-family: 'Xolonium';
	font-size: 2.5vw;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.hoodie {
	position: absolute;
   	width: 28%;
  	height: 67%;
  	left: 5%;
  	top: 22%;
}

.Hoodi_jpg {
position: absolute;
width: 50%;
height: 50%;
left: 25%;
top: 10%;

background: url('images/27666.970.jpg');
background-size: cover ;
}

.T-shirts {
	position: absolute;
	width: 28%;
	height: 67%;
	left: 36%;
	top: 22%;

}

.T-shirts_jpg {
	position: absolute;
	width: 74%;
	height: 55%;
	left: 13%;
	top: 2%;
	background: url('images/майка.png');
	background-size: cover;
	z-index: 1;
}

.accessories {
	position: absolute;
	width: 28%;
	height: 67%;
	left: 67%;
	top: 22%;
}

.accessories_jpg {
	position: absolute;
	width: 94%;
	height: 50%;
	left: 3%;
	top: 12%;
	background: url('images/42f6443a56e826982a362915e47dc5f3.jpeg');
	background-size: cover;
}

.bottom {
position: absolute;
width: 100%;
height: 41.1%;
left: 0%;
top: 856%;
}

.Rectangle_bottom {
position: absolute;
width: 100%;
height: 100%;
left: 0%;
background-color: black;
z-index: -4;
}

.DJ_PLESH {
	position: absolute;
	width: 12%;
	height: 61%;
	left: 1%;
	top: 26%;
	font-family: 'Xolonium';
	font-size: 1.25vw;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.Const_Rectangle_bottom {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #FFFFFF;
}

.Const_Name_Bottom {
	position: absolute;
	width: 74%;
	height: 12%;
	left: 13%;
	top: 7%;
	font-family: 'Xolonium';
	font-size: 1.041vw;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

.Const_Line_Bottom {
	position: absolute;
	width: 100%;
	height: 0%;
	left: 0%;
	top: 25%;
	border: 1px solid #FFFFFF;
}

/* Поддержка */
.support {
	position: absolute;
	width: 18%;
	height: 60%;
	left: 16%;
	top: 27%;
}

.Text_support {
	position: absolute;
	width: 62%;
	height: 54%;
	left: 18%;
	top: 34%;
	font-family: 'Xolonium';
	font-size: 0.83vw;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

/* Партнер */
.partner {
	position: absolute;
	width: 18%;
	height: 60%;
	left: 66%;
	top: 27%;
}

.Text_partner {
	position: absolute;
	width: 70%;
	height: 54%;
	left: 15%;
	top: 34%;
	font-family: 'Xolonium';
	font-size: 0.83vw;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

/* Информация о нас */
.Information_about_us {
	position: absolute;
	width: 22%;
	height: 60%;
	left: 39%;
	top: 27%;
}

.Rectangle25 {
box-sizing: border-box;
position: absolute;
width: 100%;
height: 100%;
left: 0%;
top: 0%;
border: 1px solid #FFFFFF;

}

.line_2_Information {
position: absolute;
width: 100%;
height: 0%;
left: 0%;
top: 25%;

border: 1px solid #FFFFFF;

}

.Text_Information {
	position: absolute;
	width: 74%;
	height: 54%;
	left: 13%;
	top: 34%;
	font-family: 'Xolonium';
	font-size: 0.83vw;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}

/* Иконки приложений */
.Application_icons {
	position: absolute;
	width: 8%;
	height: 42%;
	left: 88%;
	top: 37%;
}

.Icon_Inst {
	position: absolute;
	left: 5%;
	right: 50%;
	top: 10px;
	bottom: 0%;
	background: url('images/instagram.png');
	background-size: cover;
	width: 45%;
	height: 45%;
}

.Icone_Tel {
position: absolute;
left: 50%;
right: 0%;
top: 50%;
bottom: 0%;

background: url('images/telegram.png');
background-size: cover;
width: 45%;
height: 45%;
}

.Icon_YT {
	position: absolute;
	left: 50%;
	right: 0%;
	top: 0%;
	bottom: 50%;
	background: url('images/youtube.png');
	background-size: cover;
	width: 56%;
	height: 45%;
}

.Icon_VK {
position: absolute;
left: 5%;
right: 50%;
top: 55%;
bottom: 0%;

background: url('images/vkontakte.png');
background-size: cover;
width: 45%;
height: 45%;
}